html {
    scroll-behavior: smooth;
}

#home {
    height: 1000px;
    background-color: #3a3a3a;
}

#about {
    height: 1000px;
    background-color: #ffffff;
}

#skills {
    height: 1000px;
    background-color: #00dbc9;
}

#resume {
    height: 1000px;
    background-color: #3a3a3a;
}

#portfolio {
    height: 1000px;
    background-color: #3a3a3a;
}

body { 
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.sticky + .content {
    padding-top: 102px;
}

.header {
    overflow: hidden;
    background-color: #3a3a3a;
    padding: 20px 5px;
    scroll-padding-top: 70px;
    position: sticky;
    top: 0;
}

.header a {
    float: left;
    color: rgb(107, 107, 107);
    text-align: center;
    padding-left: 100px;
    text-decoration: none;
    font-size: 22px; 
    line-height: 25px;
    border-radius: 4px;
}

.header a.logo {
    position: absolute;
    margin: 0 auto;
    width: 100px;
    top:2.5px;
}

.header a:hover {
    background-color: none;
    color: rgb(0, 102, 255);
}

.header a.active {
    background-color: dodgerblue;
    color: white;
}

.header-right {
    float: right;
}

.footer {
    position: fixed;
    padding: 30px 10px;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(58, 58, 58);
    color: white;
    text-align: center;
}

.logo {
    margin: 0;
    position: absolute;
    top: 25%;
    left: 60%;
}

.profile {
    margin: 0;
    position: absolute;
    top: 130%;
    left: 10%;
}

.img {
    clip-path: circle();
}

.home {
    font-family: sans-serif;
    font-size: 100px;
    position: absolute;
    top: 25%;
    left: 15%;
}

.aboutMe {
    font-family: sans-serif;
    font-size: 80px;
    color: #001d53;
    position: absolute;
    top: 140%;
    left: 40%;
}

.aboutText {
    font-family: sans-serif;
    font-size: 80px;
    color: #001d53;
    position: absolute;
    top: 152%;
    left: 40%;
    right:5%;
}

.about {
    margin: 0;
    position: relative;
    padding-right:50px;
    top: 0.25%;
    left: 63%;
}

.aboutUnderline {
    border-bottom: 5px solid #00dbc9;
    padding-bottom: 5px;
    left: 55%;
    position: relative;  
}

.social {
    margin: 0;
    position: absolute;
    top: 92%;
    left: 32%;
}

.skills {
    margin: 0;
    font-family: sans-serif;
    font-size: 80px;
    color: #001d53;
    position: absolute;
    top: 240%;
    left: 36%;
}

.skillsUnderline {
    border-bottom: 5px solid #001d53;
    padding-bottom: 5px;
    left: 55%;
    position: relative;  
}

.body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
}
  
  
.progress {
    width: 100%;
    max-width: 260px;
    height: 10px;
    background: #e1e4e8;
    border-radius: 3px;
    overflow: hidden;
}
  
.progress-bar {
    display: block;
    height: 100%;
    background: #001d53;
    background-size: 300% 100%;
}

.demopara {
    line-height: 2 ;
}

.center {
    margin: 0;
    position: relative;
    padding-right:50px;
    top: 0.25%;
    left: 25%;
}

.headerButtons {
    margin: 0;
    position: absolute;
    top: 2%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.centerFooter {
    margin: 0;
    position: absolute;
    top: 25%;
    left: 45%;
}

@media screen and (max-width: 500px) {
    .header a {
    float: none;
    display: block;
    text-align: left;
    }
    
    .header-right {
    float: none;
    }
}

::-webkit-scrollbar {
width: 10px;
}

::-webkit-scrollbar-thumb {
background: #585858; 
border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
background: #3f3f3f; 
}